<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ParseJsonStringPlugin"
        iconfile="DPL.png"
        description="Parse JSON String"
        tooltip="This is a step to parse JSON String field"
        category="Transform"
        classname="org.xiforge.pentaho.di.trans.step.parsejsonstring.ParseJsonStringMeta">
    <libraries>
        <library name="pdi-plugin-parsejsonstring.jar"/>
    </libraries>

    <localized_category>
        <category locale="en_US">Transform</category>
    </localized_category>

    <localized_description>
        <description locale="en_US">Parse JSON String</description>
    </localized_description>

    <localized_tooltip>
        <tooltip locale="en_US">This is a step to parse JSON String field</tooltip>
    </localized_tooltip>

</plugin>
